/* Sidebar Styling */
.sidebar {
    width: 320px; /* Fixed width for the sidebar */
    background-color: #092542; /* Blue background color */
    color: white; /* White text color */
    height: calc(100vh - 60px); /* Full height minus the height of the navbar */
    position: fixed; /* Fixed position */
    top: 60px; /* Position below the navbar */
    left: 0; /* Align to the left */
    padding: 1rem; /* Padding inside the sidebar */
    overflow-y: auto; /* Scroll if content overflows */
  }
  
  .sidebar a {
    color: white; /* White link color */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Block display for links */
    margin: 0.5rem 0; /* Spacing between links */
    font-size:x-large;
    width: 250px;
   
  }
  
  .sidebar a:hover {
    background-color: #0b0e11; /* Darker blue background on hover */
    padding: 0.5rem; /* Add padding on hover */
    border-radius: 4px; /* Rounded corners on hover */
  }
  .sidebar .sidebar-icon {
    margin-right: 5px; /* Space between icon and text */
  }

  .p-3{
    margin-top: 1.5rem !important;
  }

  .card-text{
    text-align: center;
  }

  /* Dropdown container */
.dropdown {
  position: relative; /* Relative position for dropdown */
}

/* Dropdown toggle button */
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white; /* Ensure text color matches */
  padding: 0.75rem; /* Added more padding for better spacing */
  border-radius: 4px; /* Ensure the dropdown toggle has rounded corners */
}

/* Dropdown icon */
.dropdown-icon {
  font-size: 0.9rem; /* Slightly larger dropdown icon */
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* Hide dropdown by default */
  padding-left: 1.5rem; /* Increased indentation for dropdown items */
  background-color: #0b0e11; /* Match hover background color */
  border-radius: 4px; /* Rounded corners */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  position: absolute; /* Absolute position for dropdown menu */
  width: calc(100% - 1.5rem); /* Full width of dropdown minus the right padding */
  top: 100%; /* Position below the dropdown toggle */
  left: 0; /* Align with the left of the dropdown toggle */
  z-index: 1000; /* Ensure dropdown is on top */
}

/* Show dropdown menu when active */
.dropdown.open .dropdown-menu {
  display: block; /* Show dropdown */
}

/* Dropdown items */
.dropdown-menu a {
  padding: 0.75rem; /* Increased padding inside dropdown items */
  margin: 0; /* Remove margin */
  font-size: medium; /* Adjust font size if necessary */
  color: white; /* Ensure text color matches */
  display: block; /* Ensure items are displayed block */
}

/* Dropdown item hover */
.dropdown-menu a:hover {
  background-color: #1b2a38; /* Slightly darker background on hover */
  border-radius: 4px; /* Rounded corners */
}
  