/* General Layout */
.d-flex {
  display: flex;
  margin-top: 15px !important;
}

.main-containerAdmin {
  margin-left: 300px; 
  margin-right: 50px;
  width: calc(100% - 200px); 
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    width: 100%;
  }
}

/* Card and Chart Styling */
.card-width {
  width: 100% !important;
  height: 130% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.card-width:hover {
  box-shadow: 2 8px 16px rgba(0, 0, 0, 0.3);
}

.chart-container {
  margin-top: 20px !important;
  width: 100% !important;
  height: 300px; /* Adjust height for better spacing */
  border: 2px solid #a3acb6;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.chart-card {
  width: 100%;
}

.card-header {
  background-color: #f8f9fa;
  font-size: 25px !important;
  font-weight: bold !important;
}

.mb-4 {
  margin-top: 4.5rem !important;
}

/* Additional Styles */
.CardTitle {
  text-align: center !important;
  color: #dee2e6 !important;
}

.card-employees {
  background-color: #025a05 !important;
  color: white !important;
}

.card-orders {
  background-color: #e57d0e !important;
  color: white !important;
}

.card-sales {
  background-color: #0a3a60 !important;
  color: white !important;
}

.card-alert {
  background-color: #9d160c !important;
  color: white !important;
}

.dashCard {
  font-size: medium;
  color: rgb(236, 231, 231);
  font-weight: 900;
}

.mainCardText {
  font-size: 25px !important;
}

@media (max-width: 480px) {
  .main-containerAdmin {
    margin-left: 2px !important; 
    margin-right: 150px !important;
    width: calc(100% - 5px); 
  }

  .card-width {
    width: 95% !important;
    height: 130% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    transition: box-shadow 0.3s ease-in-out;
  }
}

@media (max-width: 512px) {
  .main-containerAdmin {
    margin-left: 2px !important; 
    margin-right: 150px !important;
    width: calc(100% - 5px); 
  }
}
